<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h1>Create New Record</h1>
    <a href="/">Back</a><br/>
    <form action="/" method="post">
      Band name: <input type="text" name="name" />
      Album Title: <input type="text" name="title"/>
      Description: <input type="text" name="description"/>
      Album image: <input type="text" name="img"/>
      Link to band page: <input type="text" name="link" />
      <input type="submit" value="create album">
    </form>
  </body>
</html>
